{% extends "layout.html" %}

{% block content %}
{% if current_user.is_authenticated %}
    <a href="{{ url_for('add_news') }}">Добавить запись</a>
{% endif %}
{% for item in news%}
<div class="post">
    <img src="/static/img/{{ item.user.image }}" width="50" height="50" class="index_img">
    <a href="{{ url_for('user_account', id=item.user_id) }}">{{ item.user.name }} {{ item.user.surname }}</a> 
    <h2>{{ item.news_tittle }}</h2>
    <h3>{{item.news}}</h3>
    <div>
        <p>{{ item.created_date }}</p>
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
        <div>
            <a href="/news/{{ item.id }}" class="btn btn-warning">Изменить</a>
            <a href="/news_delete/{{ item.id }}" class="btn btn-danger">Удалить</a>
        </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}